* {
  &::-webkit-scrollbar-track {
    background: var(--scrollbar-color);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--primary);
  }
  &::-webkit-scrollbar {
    width: 5px;
    background: var(--scrollbar-color);
  }
}
