.sidebar { display: block; position: fixed; top: 60px; left: 0; bottom: 0; width: 250px; overflow-y: auto; padding: 0;
    background-color: var(--background-secondary); z-index: 999; border-right: 1px solid var(--border-color-default);
    .container { padding: 0;
    .menu-logo { padding: 30px 1.5rem 0 1.5rem; color: var(--font-color-default);
      span { font-size: 1.1rem; font-weight: bold; }
      .ico_arena { width: 25px; height: 25px; margin-right: 10px; }
      i { color: var(--font-color-default); float: right; cursor: pointer; }
    }
    .menu-list { padding-top: 20px;
      .menu-item { list-style: none; padding: 10px 1.5rem; opacity: 0.5; cursor: pointer; outline: none;
        &:hover, &.selected { opacity: 1; border-left: 2px solid var(--primary); background: var(--background-default);}
        a.menu-link { text-decoration: none; color: var(--font-color-default); }
        }
      }
    }
}
