<div class="main-content">
  <div class="container">
    <div class="header mt-md-5">
      <div class="header-body">

        <!-- Title -->
        <h1 class="header-title">
          Cards
        </h1>

        <!-- Subtitle -->
        <p class="header-subtitle">
          Bootstrap’s cards provide a flexible and extensible content container with multiple variants and options. Please read the <a target="_blank" href="https://getbootstrap.com/docs/4.0/components/card/">official Bootstrap documentation</a> for a full list of options.
        </p>

      </div>
      <app-card>
        <app-card-header>
          Aux Header
        </app-card-header>
        <app-card-content>
          Aux Content
        </app-card-content>
      </app-card>
    </div>
  </div>

</div> <!-- / .main-content -->
